body{
  background-image: -webkit-linear-gradient(top left, #5cc8ff 0%, #d63c6b 100%);
  background-image: linear-gradient(to bottom right, #5cc8ff 0%, #d63c6b 100%);
}

.App {
  text-align: center;
  margin-top: 25vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  background-color:#282c34 ;
  /* background-color: rgb(108, 117, 125); */
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 19vh;
}

.calculator{
  justify-content: center;
  height: 100vh;
}

.display{
  height: 75px;
  border: 3px solid rgb(108, 117, 125);
  width: 50%;
  margin-left: 25%;
  text-align: center;
}

.btn {
  padding: 2em;
}

.main {
  width: 50%;
  margin: 0 20px 10% 20px;
}

#clear, #divide{
  border-radius: 0;
}